/* #box {
    background-color: blue;
}

.heading {
    color: red;
}

button {
    background-color: green;
} */

/* p {
    text-align: left;
}
 h1 {
    text-align: center;
    text-decoration: wavy underline blue;
 }

 a {
    text-decoration: none;
 }

 #one {
    font-family: cursive;
 }

 #tow {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 } */

 h1 {
    text-transform: capitalize;
    text-align: center;
 }

 #outer {
    font-size: 25px;
 }

 #inner {
    font-size: 10px;
 }