/* #box {
    background-color: blue;
}

.heading {
    color: red;
}

button {
    background-color: green;
} */

/* p {
    text-align: left;
}
 h1 {
    text-align: center;
    text-decoration: wavy underline blue;
 }

 a {
    text-decoration: none;
 }

 #one {
    font-family: cursive;
 }

 #tow {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 } */

 /* h1 {
    text-transform: capitalize;
    text-align: center;
 }

 #outer {
    font-size: 25px;
 }

 #inner {
    font-size: 10px;
 } */



 /* div {
   height: 100px;
   width: 100px;
   background-color: blue;
   border: 2px solid black;
   border-radius: 6px;
   padding: 20px;
 } */




 /* styling for the fisrt question */
 /* div {
   height: 100px;
   width: 100px;
   background-color: green;
   border-radius: 50%;
 } */

 /* * { */
   /* padding: 0;
   margin: 0;
   color: white;
 }

 #nav {
   height: 60px;
   background-color: #0f1111;
 }


 button {
   background-color: #f08804;
 }

 #logo {
   font-size: 25px;
   color: #f08804;
 }

 a {
   margin-right: 200px;
   text-decoration: none;
 } */


/* 
 * { 
    padding: 0;
   margin: 0;
   color: white;
 }

 #nav {
   height: 60px;
   background-color: #0f1111;
 }


 button {
   background-color: #f08804;
 }

 #logo {
   font-size: 25px;
   color: #f08804;
 }

 a {
   margin-right: 200px;
   text-decoration: none;
 }

  .contentbox {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
 }

  #content {
    height: 400px;
  }

 footer {
  background-color: #0f1111;
  color: white;
  text-align: center;
 } */
  /* div {
    height: 200px;
    width: 200px;
    background-image: url(nature.jpg);
    background-size: cover;
    color: yellow;
    font-weight: bolder;
    position: fixed;
    right: 0px;
    top: 80px;
  } */


  ul {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
  }

   a {
    text-decoration: none;
    color: black;
    background-color: aqua;
   }

   li {
    list-style: none;
    display: inline;
   }

   .outer {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .inner {
    height: 200px;
    width: 200px;
    background-color: orange;
   }